# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs
*.log
*.log.*

# OS files
.DS_Store
Thumbs.db

# Local environment files
.env
.env.*
!.env.example
*.local

# macOS / Linux / Windows junk
.DS_Store
Thumbs.db
*.swp

# IDE settings
.vscode/
.idea/
*.swp

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log

# Docker
*.pid
*.seed
*.pid.lock

# Kubernetes / Helm
.kube/
helm/**/charts/
helm/apps/chart-sample/charts/*/values.override.yaml

# Sealed Secrets
pub.pem   # <-- fetched public cert for kubeseal, do NOT commit
*.sealed-secret.yaml

# Ignore GitHub Actions self-hosted runner binaries/config
actions-runner/
